.CardBook {
    border: 1px solid red;
}
.home-page-container{
    display: block;
    box-sizing: border-box;
    /*background-color: #7fb07a;*/
    /*clip-path: ellipse(300% 100% at 300% 0%);*/
}
.grid{
   margin: auto;
}
