.search-book-container {
    width: 50vw;
    margin-inline: auto;
    margin-top: 10vh;
}

.input-button-container {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 20vw;
    height: 10vh;
    margin-inline: auto;
    margin-bottom: 5vh;
}
